{# ** @file modules/custom/artwork_provider/templates/artwork.html.twig
 *
 * Default theme implementation to present Artwork data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *          content.field_name to access public fields
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artwork()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gbook') }}>
  {% if content %}
    {{- content -}}
    1234
  {% endif %}
</div>
