.gbook-form .alert-danger {
  padding: 20px;
}
.underline_gbook p {
  overflow: hidden;
}
.gbook-form .list-group-item {
  background-color: #ff4444;
}
.gbook-form input {
  padding: 5px;
  border-radius: 0;
}
.gbook-form .form-file {
  padding: 0px;
  border-radius: 0;
  width: 250px;
  border: none;
}
.gbook-form button {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 0.9375rem 1.25rem;
  text-transform: uppercase;
  background-color: #ff3232;
  border: none;
}
.gbook-form button:hover, .deleteGbook:hover {
  background-color: tan;
}
.gbook-form .form-required {
  margin-top: 10px;
}
#form-system-messages button {
  background-color: transparent;
  margin-top: 5px;
}
#form-system-messages .form-file {
  padding: 3px 5px 0;
  width: 300px;
}
#form-system-messages .file--image {
  margin-right: 55px;
}
#form-system-messages .messages--error {
  background-color: #ff4444;
  padding: 12px;
  color: #FFF;
  margin: 10px 0;
  border-radius: 5px;
}
#block-exam-content h4 {
  margin-bottom: 30px;
}
.underline_gbook {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
}
.underline_gbook span {
  font-weight: 700;
  padding: 0 5px 0 0;
}
.underline_gbook:nth-of-type(1) {
   border-top: 1px solid #999;
   padding-top: 10px;
}
.avatar-book img {
  border-radius: 50%;
  margin: 10px;
  height: auto;
  width: 80%;
  max-width: 200px;
}
.deleteGbook {
  background-color: #ff3232;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 14px;
}
.deleteGbook:hover {
   color: #FFF;
   text-decoration: none;
}
.ui-widget {
  width: 500px!important;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: none!important;
}
.ui-dialog .ui-dialog-titlebar {
  padding: 15px;
  margin-bottom: 30px;
  background-color: #ff3232;
  color: #FFF;
  border: none;
  border-radius: 4px;
}
#drupal-modal button {
  background-color: #ff3232;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 1;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: block;
  margin: 0 auto 20px;
  background-image: none;
}
#drupal-modal button:focus {
  border:none;
  outline: none;
  box-shadow: none;
}
.ui-dialog-titlebar-close {
  border: none;
  color: #FFF;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

